<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="data-source" />
		</property>
	</bean>


	<bean id="servlet1" class="com.fdl.servlets.Servlet1">
		<property name="fdlDao" ref="fdlDao"></property>
	</bean>
	
	
	<bean id="fdlDao" class="com.fdl.dao.FdlDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- Transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<bean id="txProxyTemplate"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
		abstract="true">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
	</bean>
	
	
	<bean id="data-source" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>

		<property name="url">
		<value>jdbc:mysql://localhost:3306/lhou</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>	
		</property>
		
	</bean>
	
	<!-- Activate the annotations spring -->
	<context:annotation-config />

	<!-- Packages scan des beans -->
	<context:component-scan base-package="com.fdl.dao" />
	<context:component-scan base-package="com.fdl.servlets" />

</beans>
